<%inherit file="/base/index.html"/>
<%namespace file="fields.html" name="fields" import="*"/>
<%def name="header()"><div id="header">${_(u"Segment")}: ${_(u"edit")}</div></%def>
<%def name="script()">
<script type="text/javascript">
var segment_service_url = "${h.url_for(controller="service", action="segment", id=None)}";
</script>

${h.javascript_link(h.url_for("/js/jquery.js"))}
${h.javascript_link(h.url_for("/js/jquery-fieldselection.js"))}
${h.javascript_link(h.url_for("/js/segment.js"))}

</%def>
<p>
${h.form_start(h.url_for(controller='segment', action='save',  id=request.urlvars['id']), method="post")}
    ${fields.body()}
    ${h.field(field=h.link_to("Cancel", h.url_for(controller='segment', action='view', doc_id=None, id=request.urlvars['id'])))}
    ${h.field(field=h.submit(value=_("Save change"), name='submit'))}
${h.form_end()}
</p>

