<%inherit file="/base/index.html"/>
<%def name="header()"><div id="header">${_(u"Segment")}: ${_(u"view")} ${c.document.id}</div></%def>
<%def name="menu()">
<div id="menu">

</div>
</%def>
<p>
<div>${c.document.id}</div>
<div>${c.document.title}</div>
<div><pre>${c.document.segment}</pre></div>
<div><pre>${c.document.body}</pre></div>

${h.form_start(h.url_for(controller='trans', action='new',  id=request.urlvars['id']), method="post")}
    ${h.field(field=h.submit(value=_(u"Translate"), name='translate'))}
${h.form_end()}
</p>

