<%inherit file="/base/index.html"/>
<%def name="header()"><div id="header">${_(u"Segment")}: ${_(u"view")} ${c.document.id}</div></%def>
<%def name="menu()">
<div id="menu">
${h.link_to(_(u"Edit segment"), h.url_for(controller="segment", action="edit", id=c.document.id))} |
${h.link_to(_(u"Translate using these segments"), h.url_for(controller="trans", action="new", id=c.document.id))} |
${h.link_to(_(u"List documents"), h.url_for(controller='doc', action="list", id=None))} 
</div>
</%def>

<table class="data">
<tr>
    <th>${_("ID")}</th>
    <td>${c.document.id}</td>
<tr>
<tr>
    <th>${_("Title")}</th>
    <td>${c.document.title}</td>
<tr>
<tr>
    <th>${_("Body")}</th>
    <td>${c.document.body}</td>
<tr>
<tr>
    <th>${_("Segment")}</th>
    <td>
    %for segment in c.document.segment:
        ${segment}<br/> <br/>
    %endfor
    </td>
<tr>
</table>
