${h.field(_(u"Source title"), h.text(name='source_title', id='source_title', rows='10', cols='90'), required=False)}
${h.field(_(u"Source body"), h.textarea(name='segment', id='segment', rows='10', cols='90'), required=False)}
${h.field(_(u"Title"), h.text(name='title',id='title', rows='10', cols='90'), required=True)}
${h.field(_(u"Body"), h.textarea(name='body', id='body',rows='20', cols='90'), required=True)}
${h.field(_(u"Dictionary"), h.textarea(name='dictionary',id='dictionary', rows='2', cols='90'))}
${h.field(_(u"Transliteration"), h.textarea(name='tubsub',id='tubsub', rows='2', cols='90'))}
