<%inherit file="/base/index.html"/>
<%namespace file="fields.html" name="fields" import="*"/>
<%def name="header()"><div id="header">${_(u"Document")}: ${_(u"new")}</div></%def>
<%def name="script()">
${h.javascript_link("/js/jquery.js")}
${h.javascript_link("/js/translation.js")}
</%def>
<p>


<div>
<form><input type="hidden" name="tulen" value="${len(c.textunits)}"/></form>
%for i, tu in enumerate(c.textunits):
	<span class="textunit" id="tu${i}">${tu}</span>
%endfor 
</div>
${h.form_start(h.url_for(controller='trans', action='create', doc_id=request.urlvars['doc_id']), method="post")}
    ${fields.body()}
    ${h.field(field=h.submit(value=_(u"Create translation"), name='submit'))}
${h.form_end()}
</p>