<%inherit file="/base/index.html"/>
<%namespace file="fields.html" name="fields" import="*"/>
<%def name="header()"><div id="header">${_(u"Document")}: ${_(u"new")}</div></%def>
<%def name="script()">

${h.javascript_link(h.url_for("/js/jquery.js"))}
${h.javascript_link(h.url_for("/js/jquery-fieldselection.js"))}
${h.javascript_link(h.url_for("/js/translation.js"))}
${h.javascript_link(h.url_for("/js/tubsub.js"))}	
${h.javascript_link(h.url_for("/js/basaasa.js"))}
${h.javascript_link(h.url_for("/js/mt.js"))}

</%def>
<p>
${h.form_start(h.url_for(controller='trans', action='create', id=request.urlvars['doc_id']), method="post")}
    ${fields.body()}
    ${h.field(field=h.submit(value=_(u"Create translation"), name='submit'))}
${h.form_end()}
</p>