<%inherit file="/base/index.html"/>
<%namespace file="fields.html" name="fields" import="*"/>
<%def name="header()"><div id="header">${_(u"Document")}: ${_(u"new")}</div></%def>
<%def name="script()">
<script type="text/javascript">
var dict_service_url = "${h.url_for(controller="service", action="dict", id=None)}";
var transliterate_service_url = "${h.url_for(controller="service", action="transliterate", id=None)}";
var translate_service_url = "${h.url_for(controller="service", action="translate", id=None)}";
var tm_service_url = "${h.url_for(controller="doc", action="tm", id=request.urlvars['doc_id'])}";
</script>
${h.javascript_link(h.url_for("/js/jquery.js"))}
${h.javascript_link(h.url_for("/js/jquery-fieldselection.js"))}
${h.javascript_link(h.url_for("/js/dict.js"))}
${h.javascript_link(h.url_for("/js/transliterate.js"))}
${h.javascript_link(h.url_for("/js/tm.js"))}
%if c.use_google:
	${h.javascript_link('http://www.google.com/jsapi')}
	<script type="text/javascript">
		google.load("language", "1");
	</script>
	${h.javascript_link(h.url_for("/js/google_translate.js"))}
%else:
	${h.javascript_link(h.url_for("/js/translate.js"))}
%endif

</%def>
<p>
${h.form_start(h.url_for(controller='trans', action='create', id=request.urlvars['doc_id']), method="post")}
    ${fields.body()}
    ${h.field(field=h.submit(value=_(u"Create translation"), name='submit'))}
${h.form_end()}
</p>
