## -*- coding: utf-8 -*-

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>${self.title()}</title>
    ${self.head()}
</head>
<body>
	${self.maintab()}
	${self.header()}
	
	${self.flash()}
    ${next.body()}
    ${self.menu()}
</body>
</html>
<%def name="menu()"></%def>
<%def name="maintab()">
<div id="maintab">${h.link_to(label=_(u"Home"), url=h.url_for(controller="doc", action="list"))} | 
${h.link_to(label=_(u"Logout"), url=h.url_for(controller="auth", action="signout", id=None))}</div>
</%def>
<%def name="title()">${_(u"BasaAsa")}</%def>
<%def name="head()">${h.stylesheet_link(h.url_for('/css/main.css'))}</%def>
<%def name="header()"><div id="header">${_(u"base")}</div></%def>
<%def name="flash()">
    % if session.has_key('flash'):
    <div id="flash"><p>${session.get('flash')}</p></div>
    <%  
        del session['flash']
        session.save()
    %>
    % endif
</%def>