<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="viewResolver"
      class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                pettypeList.html=pettypeListController
            </value>
        </property>
    </bean>
    <bean name="pettypeListController" class="com.spring66.training.web.springmvc.PetTypeListController">
        <property name="clinicService">
            <ref bean="clinicService"/>
        </property>
    </bean>
    <!--bean id="usrFormController" class="com.spring66.tutorial.web.controller.UsrFormController">
        <property name="appUserService" ref="appUserService"/>
        <property name="formView" value="usrForm" />
        <property name="successView" value="usrList" />
    </bean-->

</beans>
