<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.spring66.training.entity.BaseEntity"/>
        <mapping class="com.spring66.training.entity.NamedEntity"/>

        <mapping class="com.spring66.training.entity.Owner"/>
        <mapping class="com.spring66.training.entity.Person"/>
        <mapping class="com.spring66.training.entity.Pet"/>
        <mapping class="com.spring66.training.entity.PetType"/>
        <mapping class="com.spring66.training.entity.Specialty"/>
        <mapping class="com.spring66.training.entity.Vet"/>
        <mapping class="com.spring66.training.entity.Visit"/>
    </session-factory>
</hibernate-configuration>
