fieldset{
	margin: 1em;
}

input {
	margin-left:1em;
	margin-bottom: 0.5em;
}

label {
	font-weight:bold;
}

legend {
	color:#00f;
	background-color:#ddd;
	padding: 0 0.5em ;
}
	
button {
	width : 150px;
	text-align:center;
}

.big-button {
		width : 300px;
		margin-left: 5em;
}

.floated-right{
	float:right;
	text-align:center;	
}

.wrapper {
	width: 100px;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}