#flash {
    background: #ffc;
    padding: 5px;
    border: 1px dotted #000;
    margin-bottom: 20px;
}
#flash p { margin: 0px; padding: 0px; }

body {
    background: #9CEF6C;
    height: 100%;
}

td.line {
    background: #58A72A;
	width: 25px;
}

table.data {
	border: 1px #AAAAAA solid;
	background: #F9F9F9 none repeat scroll 0 0 ;
	border-collapse: collapse;
	margin: 1em 1em 1em 0;
	table-layout: fixed;
	text-align: center;
}

table.data td {
    padding: 5px;
    border: 1px #53DF00 solid;
    background: #9CEF6C;
    text-align: left;
    vertical-align: top;
}

table.data th {
	background: #369100;
	border: 1px #53DF00 solid;
	color: #FFFFFF;
    vertical-align: top;
}


table {
	margin: 0px;
	border: 0px;
	border-collapse: collapse;
}

table.maintab  {
	width:100%;
	background: #369100;
	color: #53DF00;
}

table.maintab a:link, table.maintab a:visited {
   color: #FFFFFF;
}

td.sidebar a:link, td.sidebar a:visited {
   color: #FFFFFF;
}

table.content {
	width:100%;
}

td.sidebar {
	width: 200px;	
	background: #58A72A;	
	vertical-align: top;
}

td.logo {
	width: 100px;
}

td.body {
	background: #9CEF6C;	
}

td.maintab {
    text-align: left;
}

div.body {
    background: #9CEF6C;
}

div.header {
	background: #58A72A;
	text-align: center;
	color: #FFFFFF;
}

div.menu {
	background: #58A72A;
	text-align: center;
	color: #53DF00;
}

div.menu a:link, div.menu a:visited {
   color: #FFFFFF;
}

.lookup {
	color: #000000;
    overflow: scroll;
    width: 300px;
    height: 200px;
}

table.translation {
    overflow: scroll;
}
